@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<h1 class="text-danger">Erişim Reddedildi</h1>
<p class="text-warning">Bu sayfaya erişmek için gerekli yetkiye sahip değilsiniz.</p>
