@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş Yap";
}

<div class="login-page d-flex align-items-center">
    <div class="bg-white p-4 rounded shadow">
        <form id="account" method="post">
            <h2 class="mb-3">Giriş Yap</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                <label asp-for="Input.Email">E-posta</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" placeholder="Şifre" />
                <label asp-for="Input.Password">Şifre</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    Beni Hatırla
                </label>
            </div>

            <button id="login-submit" type="submit" class="w-100 btn btn-primary btn-lg">Giriş Yap</button>

            <div class="mt-3">
                <p><a asp-page="./ForgotPassword">Şifrenizi mi unuttunuz?</a></p>
                <p><a asp-page="./Register">Yeni Üyelik Oluştur</a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
